<div class="icon-bar">
    <a href="https://twitter.com/AaryanRS1" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/aaryan-raj-saxena-7016a1212" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/Aaryan-R-S" target="_blank" class="youtube"><i class="fa fa-github"></i></a>
    <a href="https://t.me/aaryan_ars" target="_blank" class="facebook"><i class="fa fa-paper-plane-o"></i></a>
    <a href="mailto:aaryan20004@iiitd.ac.in" class="google"><i class="fa fa-google"></i></a>
    <div class="vl"></div>
</div>

<div class="right">
    <a href="mailto:aaryan20004@iiitd.ac.in" class="test2">aaryan20004@iiitd.ac.in</a>
    <div class="vl"></div>
</div>