<div class="container">
    <div class="icon-bar-foot">
        <a href="https://twitter.com/AaryanRS1" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/aaryan-raj-saxena-7016a1212" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Aaryan-R-S" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://t.me/aaryan_ars" target="_blank"><i class="fa fa-paper-plane-o"></i></a>
        <a href="mailto:aaryan20004@iiitd.ac.in"><i class="fa fa-google"></i></a>
    </div>
    <footer>
        <a href="https://github.com/Aaryan-R-S/Portfolio" target="_blank">Built by Aaryan Raj Saxena</a>
        <br>
        <a href="https://github.com/bchiang7/v4" target="_blank">Design Credits Brittany Chiang</a>
        <br>
        <a href="https://github.com/Aaryan-R-S/Portfolio" target="_blank" style="cursor: pointer;"><i class="fa fa-star-o" style="font-size: 1.3rem; margin: 10px 0px; margin-right: 5px;"></i> <small>Rate</small> <i class="fa fa-code-fork" style="font-size: 1.4rem; margin: 10px 15px; margin-right: 5px;"></i> <small>Fork</small> </a><br>
    </footer>
</div>