<div id="allProjectsDiv" class="container">
    <h1>
        Other Noteworthy Projects <br>
        <span><a  onclick="toTop()" routerLink="/archive">view the archive</a></span>
    </h1>
    <div style="display: flex; flex-wrap: wrap;">
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div style="margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
        <div class="showOnClick" style="display: none; margin: auto;">
            <div class="card">
                <div class="card-body">
                    <div id="projectLink">
                        <a style="float: left;font-size: 2.3rem; color: var(--Green);margin-left: 0rem;"><i
                                class="fa fa-folder-o"></i></a>
                        <a href="#" style="float: right; margin-top: 10px;"><i class="fa fa-external-link"></i></a>
                        <a href="#" style="float: right; margin-top: 9px;"><i class="fa fa-github"></i></a>
                    </div>
                    <h5 class="card-title">Integrating Algolia Search with WordPress Multisite</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet ur adipisicing elit. Esse, reprehenderit.
                        consectetur adipisicing elit. Ad, molestiae.</p>
                    <span class="card-subtitle mb-2">Algolia WordPress PHP</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <button id="showMore" onclick="showOnClick()" class="btn btn-outline-success" type="button"
            style="color: var(--Green);">Show More</button>
    </div>
</div>