<div id="myProjectDiv" class="container">
    <h1 style="margin-bottom: 3rem;">
        <span class="span-style">03.</span> Some Things I’ve Built
        <div class="hl"></div>
    </h1>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                Ping-Pong Game 
            </h2>
            <p>This is a Ping Pong game developed using JavaScript and served as a static webpage using GitHub pages. It is mind relaxing and fun-playing, multi-player game. It is build using HTML canvas and vector library from the MinuteLabs.io</p>
            <p><span>HTML&nbsp; Canvas&nbsp; CSS&nbsp; JavaScript&nbsp; Git&nbsp;</span></p>
            <div id="projectLink">
                <a href="https://github.com/Aaryan-R-S/Canvas-Projects-Ping-Pong" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://aaryan-r-s.github.io/Canvas-Projects-Ping-Pong" target="_blank"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                How's That 
            </h2>
            <p>How's That is a Cricket fantasy team site. Participants can register before the start of cricket match and then see their teams performance on the points table. It is developed using python flask and Cric Api. It is deployed on Heroku using Heroku CLI.</p>
            <p><span>Python&nbsp; Gspread&nbsp; JavaScript&nbsp; Flask&nbsp; CricApi&nbsp;</span></p>
            <div id="projectLink">
                <a href="https://github.com/Aaryan-R-S/Web-Projects-Hows-That"><i class="fa fa-github"></i></a>
                <a href="https://hows-that-aaryanars.herokuapp.com/"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                Postman Clone
            </h2>
            <p>This is a Postman Clone Website developed using JavaScript Fetch API. The user can make a GET or POST by mentioning request type and giving params either in form of JSON or any other custom made to get Response in the textbox.</p>
            <p><span>HTML&nbsp; CSS&nbsp; JavaScript&nbsp; Prism.js&nbsp; Git&nbsp;</span></p>
            <div id="projectLink">
                <a href="https://github.com/Aaryan-R-S/Web-Projects-Postman-Clone"><i class="fa fa-github"></i></a>
                <a href="https://aaryan-r-s.github.io/Web-Projects-Postman-Clone"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
</div>