<div id="myProjectDiv" class="container">
    <h1 style="margin-bottom: 3rem;">
        <span class="span-style">03.</span> Some Things I’ve Built
        <div class="hl"></div>
    </h1>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                OctoProfile 
            </h2>
            <p>A nicer look at your Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, ipsam? GitHub profile and repository stats with data visualizations of your top languages and stars. Sort through your top repos by number of stars, forks, and size.</p>
            <p><span>Next.js&nbsp; Chart.js&nbsp; GitHub API&nbsp;</span></p>
            <div id="projectLink">
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                Spotify Profile 
            </h2>
            <p>A web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played
                tracks, and detailed audio information about each track. Create and save new playlists of recommended
                tracks based on your existing playlists and more.</p>
            <p><span>React&nbsp; Node.js&nbsp; Express&nbsp; Spotify Web API&nbsp;</span></p>
            <div id="projectLink">
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div id="imgDiv-super" class="container my-3">
        <div id="imgDiv" class="p-4">
            <h2 class="mb-1 h2">
                <span class="span-style">Featured Project
                </span><br>
                Halcyon Theme 
            </h2>
            <p>A minimal,Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, sint! dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>
            <p><span>VS Code&nbsp; Sublime Text&nbsp; Atom&nbsp; iTerm2&nbsp; Hyper&nbsp;</span></p>
            <div id="projectLink">
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
</div>