<div id="greetDiv" class="container">
    <h2 style="color: var(--Green);font-weight: bold; font-size: large; font-family: 'Roboto mono', monospace;">Hi, my
        name is</h2>
    <h1>Aaryan Raj Saxena.</h1>
    <h1 style="color: #ccd6f6a6;">I'm Undergraduate in CSE.</h1>
    <p>
        I'm a Computer Science Undergraduate at <a href="https://www.iiitd.ac.in/" target="_blank">IIIT Delhi</a> who specializes in Web Development and Data Structures & Algorithms. I actively participates in coding contests related to <a href="https://codeforces.com/profile/aaryan20004" target="_blank">Competitive programming</a>. I like to build cool <a href="https://github.com/Aaryan-R-S" target="_blank">Web Projects</a> and contribute towards well-being of online community.
    </p>
    <a href="mailto:aaryan20004@iiitd.ac.in">
        <button class="btn btn-outline-success" type="button" style="color: var(--Green);">Get In Touch</button>
    </a>
</div>
<app-about></app-about>
<app-work></app-work>
<app-my-project></app-my-project>
<app-all-projects></app-all-projects>
<app-contact></app-contact>