<div id="aboutDiv" class="container">
    <h1>
        <span>01.</span>
        About Me
        <div class="hl"></div>
    </h1>
    <p>
        Hello! My name is <a href="https://www.linkedin.com/in/aaryan-raj-saxena-7016a1212/" target="_blank">Aaryan</a> and I enjoy creating things that live on the internet. My interest in web development started back in 2020 when I decided to start my coding journey with Web Development making random but <a href="https://github.com/Aaryan-R-S" target="_blank">cool frontend and engaging games</a> - it taught me a lot about HTML, CSS, Canvas & JavaScript!
        <br>
        <br>
        Fast-forward to today, currently I'm continuing my B.Tech program in Computer Science and Engineering at <a href="https://www.iiitd.ac.in/" target="_blank">IIIT Delhi</a>. My main focus these days is building helpful web projects and practicing <a href="https://codeforces.com/profile/aaryan20004" target="_blank">Data Structures & Algorithms</a> in the free time of my semesters. In addition, I am also exploring the Web3 space.
        <br>
        <br>
        Here are a few technologies I've been working with recently:
        <br>
        <br>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> AngularJS</span>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> ReactJS </span><br>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> Solidity </span>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> Flask </span><br>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> NumPy&nbsp;&nbsp; &nbsp;</span>
        <span><strong style="font-size: 0.6rem; color: aquamarine;">&Delta;</strong> Pandas </span><br>
    </p>
    <div class="myImg">
        <img [src] = "imgPathAbout" alt="Me">
    </div>
</div>