<div id="contactDiv" class="container">
    <h2 style="color: var(--Green);font-weight: bold; font-family: 'Roboto mono', monospace;">04. What's Next?</h2>
    <h1>Get In Touch</h1>
    <p>
        Currently I'm Open to Work for any Computer Software related job or project. My inbox is always open. I'll try my best to get back to you as soon as possible!
    </p>
    <a href="mailto:aaryan20004@iiitd.ac.in">
        <button class="btn btn-outline-success" type="button" style="color: var(--Green);">Get In Touch</button>
    </a>
</div>