<div id="workDiv" class="container">
    <h1>
        <span>02.</span>
        Where I've worked
        <div class="hl"></div>
    </h1>
    <div id="tab-work" class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Achievements</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Skills</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Experience</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Education</button>
            <button class="nav-link" id="v-pills-settings2-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-settings2" type="button" role="tab" aria-controls="v-pills-settings2"
                aria-selected="false">Extra Curricular</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Achievements <a href="https://drive.google.com/file/d/1Tv85KVjqYznE6q_KWD-IvE2Xy5BsGDn_/view" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; Built a <a href="https://drive.google.com/file/d/1q9WP5xx7kuSTW7HYrq970K8WuJ2H7Ejk/view" target="_blank">Face Recognition Application</a> using Python as part of <b>AI-For-India Event</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <a href="https://www.hackerrank.com/aaryan20004" target="_blank">Gold Level</a> in Python on <b>Hackerrank</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <a href="https://codeforces.com/profile/aaryan20004" target="_blank">Unrated</a> on <b>Codeforces</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/1C0RV0-QyR0lyoy0MCRRJkPFg5IUw6Rcx/view" target="_blank">AIR 3557</a> in <b>JEE Advanced’20</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/1SHi1crn0DNcFnNvRZ93yHAJLDSAtZKkl/view" target="_blank">AIR 8178</a> in <b>JEE Mains’20</b>. <br><br>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Skills <a href="https://drive.google.com/file/d/1Tv85KVjqYznE6q_KWD-IvE2Xy5BsGDn_/view" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">HTML | CSS | JavaScript</a> | Canvas | Node.js | AngularJS | MongoDB <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Python and Modules</a> | NumPy | Pandas | Matplotlib | Flask | BeautifulSoup | Requests <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">C | C++ | Java</a> | DSA | SQL | MS Excel <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Languages</a> | English | Hindi <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Strengths</a> | Strategic planning | Time Management | Persuasive <br><br>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Experience <a href="https://drive.google.com/file/d/1Tv85KVjqYznE6q_KWD-IvE2Xy5BsGDn_/view" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Software Development Intern </b> <a href="https://microsoft.com/en-in" target="_blank">@Company Name</a> <br><p style="font-size: 0.9rem;">&nbsp;(May 202X – June 202X) </p><p style="font-size: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> <br>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Front End Development Intern </b> <a href="https://microsoft.com/en-in" target="_blank">@Company Name</a> <br><p style="font-size: 0.9rem;">&nbsp;(July 202X – August 202X) </p><p style="font-size: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> <br>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Education <a href="https://drive.google.com/file/d/1Tv85KVjqYznE6q_KWD-IvE2Xy5BsGDn_/view" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>B.Tech in Computer Science </b> <a href="https://www.iiitd.ac.in" target="_blank">@IIIT Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(January 2021 – Present) </p><p style="font-size: 0.9rem;">CGPA: 9.0 </p> <br>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Class XII CBSE </b> <a href="http://springmeadowspublicschool.com/2016/" target="_blank">@Spring Meadows Public School, Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(Year – 2020) </p><p style="font-size: 0.9rem;">Percentage: 96.00% </p> <br>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Class X CBSE </b> <a href="http://springmeadowspublicschool.com/2016/" target="_blank">@Spring Meadows Public School, Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(Year – 2018) </p><p style="font-size: 0.9rem;">Percentage: 97.80% </p> <br>
            </div>
            <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Extra Curricular <a href="https://drive.google.com/file/d/1Tv85KVjqYznE6q_KWD-IvE2Xy5BsGDn_/view" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; Playing <a href="#workDiv">Guitar</a> (<b>Intermediate</b>) since 2019. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  First Dan <a href="https://drive.google.com/file/d/1JoKezafJ_j58_FUGwm4_MW-CSWOgB9Iq/view" target="_blank">Black Belt</a> in <b>Karate</b>, practicing since 2008. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Three <b>Gold Medals</b> in Delhi <a href="https://drive.google.com/file/d/1Jv4oj5L4ObkZ6nZMxcPOHJBW1GapOsXq/view" target="_blank">State Inter Dojo Karate Championship</a> 2019 and 2020. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Two <b>Bronze Medals</b> in <a href="https://drive.google.com/file/d/1JwTKwOhlYg8OSZzhLZ06Uf-Zfi4yDrQw/view" target="_blank">National Level Karate Championship</a> 2018 and 2019. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Other Areas of Interest – <b>Cycling, Cricket, and Chess</b>. <br><br>
            </div>
        </div>
    </div>

</div>