<div id="workDiv" class="container">
    <h1>
        <span>02.</span>
        Where I've worked
        <div class="hl"></div>
    </h1>
    <div id="tab-work" class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Achievements</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Skills</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Experience</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Education</button>
            <button class="nav-link" id="v-pills-settings2-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-settings2" type="button" role="tab" aria-controls="v-pills-settings2"
                aria-selected="false">Extra Curricular</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Achievements <a href="https://drive.google.com/file/d/1_PUnqKHmGTwvWAsVRq2yZnLKQ7dYWutl/view?usp=sharing" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/1FuTYltgfYBWJ4W24KlJ1fiPelhEvIoEk/view" target="_blank">Global Rank 794</a> in <b>Round B of Google Kickstart’20</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/16frEu7Zv6qiH7ufgujs1krc6P6hf-eH8/view" target="_blank">Global Rank 115</a> in <b>Reply Code Challenge’20</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <a href="https://codeforces.com/profile/aaryan20004" target="_blank">Specialist</a> on <b>Codeforces</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/1C0RV0-QyR0lyoy0MCRRJkPFg5IUw6Rcx/view" target="_blank">AIR 3557</a> in <b>JEE Advanced’20</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Secured <a href="https://drive.google.com/file/d/1SHi1crn0DNcFnNvRZ93yHAJLDSAtZKkl/view" target="_blank">AIR 8178</a> in <b>JEE Mains’20</b>. <br><br>
                <!-- <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; Built a <a href="https://drive.google.com/file/d/1q9WP5xx7kuSTW7HYrq970K8WuJ2H7Ejk/view" target="_blank">Face Recognition Application</a> using Python as part of <b>AI-For-India Event</b>. <br><br> -->
                <!-- <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <a href="https://drive.google.com/file/d/1iCwc_kli1NQf6AvqOtJtQAIXhbIFLLa4/view?usp=sharing" target="_blank">Actively participated</a> in the <b>Aadhaar Hackathon 2021</b>. <br><br> -->
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Skills <a href="https://drive.google.com/file/d/1_PUnqKHmGTwvWAsVRq2yZnLKQ7dYWutl/view?usp=sharing" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">HTML | CSS | JavaScript</a> | Canvas | Bootstrap | jQuery | Node.js | ExpressJS | AngularJS | ReactJS | NextJS | MongoDB <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Python and Modules</a> | NumPy | Pandas | Matplotlib | Flask | BeautifulSoup | Requests | Tkinter | gspread <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">C | C++ | Java</a> | DSA | OOPS | OS | DMBS | SQL | MS Excel <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Languages</a> | English | Hindi <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong>  &nbsp; &nbsp; <a href="#workDiv">Strengths</a> | Strategic planning | Time Management | Persuasive <br><br>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Experience <a href="https://drive.google.com/file/d/1_PUnqKHmGTwvWAsVRq2yZnLKQ7dYWutl/view?usp=sharing" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Software Engineering Intern </b> <a href="https://www.linkedin.com/company/google/" target="_blank">@Google India</a> <br><p style="font-size: 0.9rem;">&nbsp;(May 2023 – August 2023) </p><p style="font-size: 0.9rem;">
                    • <b>Project</b>: Service Account Selector for Solutions in Catalog
                    <br>
                    <br>
                    • <b>Host</b>: <a href="https://www.linkedin.com/in/mayanka47/" target="_blank">Mayank Mittal (SWE @Google Cloud)</a>
                    <br>
                    <br>
                    • <b>Co-Host</b>: <a href="https://www.linkedin.com/in/mryz/" target="_blank">Riyaz Mohammed (SWE @Google Cloud)</a>
                    <br>
                    <br>
                    • <b>Team Size</b>: 1 (Solutions Catalog Team)
                    <br>
                    <br>
                    • Provided cloud users an ability to select <b>service accounts</b> to deploy solutions in Jump Start Solutions section of Google Cloud Platform (full-feature implementation).</p> <br>

                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Undergraduate Research Intern </b> <a href="https://www.linkedin.com/company/ads-iiitd/" target="_blank">@ADS Lab, IIITD</a> <br><p style="font-size: 0.9rem;">&nbsp;(June 2022 – December 2022) </p><p style="font-size: 0.9rem;">
                    • <b>Project</b>: AI for Social Counseling
                    <br>
                    <br>
                    • <b>Guide</b>: <a href="https://www.linkedin.com/in/mukesh-mohania-4755606/" target="_blank">Dr Mukesh Mohania</a>
                    <br>
                    <br>
                    • <b>Team Size</b>: 2 (with PhD Scholar <a href="https://www.linkedin.com/in/ayan-k-s-727987118/" target="_blank">Ayan K Saif</a>)
                    <br>
                    <br>
                    • The project focuses on designing an AI-enabled social counseling system based on <b>Emotion-Focused</b> Therapy.</p> <br>
                <!-- <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Front End Development Intern </b> <a href="https://www.google.com/" target="_blank">@Company Name</a> <br><p style="font-size: 0.9rem;">&nbsp;(July 202X – September 202X) </p><p style="font-size: 0.9rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> <br> -->
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Education <a href="https://drive.google.com/file/d/1_PUnqKHmGTwvWAsVRq2yZnLKQ7dYWutl/view?usp=sharing" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>B.Tech in Computer Science </b> <a href="https://www.iiitd.ac.in" target="_blank">@IIIT Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(January 2021 – Present) </p><p style="font-size: 0.9rem;">CGPA: 9.38 </p> <br>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Class XII CBSE </b> <a href="http://springmeadowspublicschool.com/2016/" target="_blank">@Spring Meadows Public School, Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(Year – 2020) </p><p style="font-size: 0.9rem;">Percentage: 96.00% </p> <br>
                <strong style="font-size: 1rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  <b>Class X CBSE </b> <a href="http://springmeadowspublicschool.com/2016/" target="_blank">@Spring Meadows Public School, Delhi</a> <br><p style="font-size: 0.9rem;">&nbsp;(Year – 2018) </p><p style="font-size: 0.9rem;">Percentage: 97.80% </p> <br>
            </div>
            <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                <p style="font-size: 1.2rem;color:var(--LightestSlate); font-weight: bolder;">Extra Curricular <a href="https://drive.google.com/file/d/1_PUnqKHmGTwvWAsVRq2yZnLKQ7dYWutl/view?usp=sharing" target="_blank">@Aaryan</a><br></p>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  First Dan <a href="https://drive.google.com/file/d/1JoKezafJ_j58_FUGwm4_MW-CSWOgB9Iq/view" target="_blank">Black Belt</a> in <b>Karate</b>, practicing since 2008. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Two <b>Bronze Medals</b> in <a href="https://drive.google.com/file/d/1JwTKwOhlYg8OSZzhLZ06Uf-Zfi4yDrQw/view" target="_blank">National Level Karate Championship</a> 2018 and 2019. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Playing <a href="https://lichess.org/@/aaryan20004" target="_blank">Chess</a> since 2021 and completed a <a href="https://drive.google.com/file/d/1TKWs0O4oMsfmQv2sTEXhBitCtC3n1lHn/view?usp=sharing" target="_blank">Self-growth</a> course in Chess (September 2021 - November 2021). <br><br>
                <!-- <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Three <b>Gold Medals</b> in Delhi <a href="https://drive.google.com/file/d/1Jv4oj5L4ObkZ6nZMxcPOHJBW1GapOsXq/view" target="_blank">State Inter Dojo Karate Championship</a> 2019 and 2020. <br><br> -->
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Areas of Interest – <b>Web3 and Blogging</b>. <br><br>
                <strong style="font-size: 0.8rem; color: aquamarine;">&Delta;</strong> &nbsp; &nbsp;  Hobbies – <b>Cycling and Guitar</b>. <br><br>
            </div>
        </div>
    </div>

</div>