<div id="archiveDiv" class="container">
    <h1>Archive</h1>
    <h2>A big list of things I’ve worked on</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th style="max-width: 300px;">Title</th>
            <th class="hideAtMaxWidth">Category</th>
            <th class="hideAtMaxWidth">Built With</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archiveProject of archiveProjectArr">
            <td class="mainYear">{{archiveProject.year}}</td>
            <td class="mainTitle">{{archiveProject.title}}</td>
            <td class="hideAtMaxWidth">{{archiveProject.category}}</td>
            <td class="hideAtMaxWidth">{{archiveProject.builtWith}}</td>
            <td>
                <div id="projectLink">
                  <a href="{{archiveProject.githubLink}}" target="_blank" style="margin-top: -5px;"><i class="fa fa-github"></i></a>
                  <a href="{{archiveProject.projectLink}}" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center;">
        <a href="https://aaryan-r-s.github.io/Portfolio">
            <button class="btn btn-outline-success" type="button" style="color: var(--Green);">Go Home</button>
        </a>
    </div>
</div>